.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App>header>h1 {
  text-align: center;
  background-color: var(--elementosColoridos);
  color: var(--corMaisClara);
  font-weight: 800;
  height: 200px;
  padding: 50px;
}

.App>header>ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: -32px;
}

.valores {
  display: flex;
  justify-content: space-evenly;
  gap: 32px;
  flex-wrap: wrap;
  width: 80%;
  padding: 24px;
  margin: 50px auto;
  background-color: var(--corMaisClara);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.250);
  border-radius: 5px;
}

.inputs {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.radio {
  display: flex;
  gap: 10px;
}

.modalAlert {
  background-color: var(--elementosColoridos);
}

.relatorio {
  width: fit-content;
  margin: 32px auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  gap: 16px;
}

.relatorio>ul {
  list-style: none;
}

.App>main {
  color: var(--letraEscura);
}

.App>footer {
  background-color: var(--elementosColoridos);
  color: var(--corMaisClara);
  text-align: center;
  padding: 7px;
}

.App>footer>p>a {
  color: var(--corMaisClara);
  font-weight: 600;
}

@media screen and (max-width: 1130px) {
  .relatorio {
    width: fit-content;
  }   
}