* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --fundoDaPagina: #f8f8f8;
  --corMaisClara: #ffffff;
  --elementosColoridos: #08cac1;
  --letraEscura: #0b1323;
}

body {
  background-color: var(--fundoDaPagina);
}